<link rel="stylesheet" type="text/css" href="./css/home.css"/>
<div data-role="header" class="bar">Waterford Film for All</div>
<div data-role="content" class="style">
	<div class="spacer"></div>
	<div id="logo"><img src="images/logo_wffa5.png" /></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div>
		<ul data-role="listview">
			<li><a href="#showing">Now Showing</a></li>
			<li><a href="#twitter">Recent Tweets</a></li>
			<li><a href="#map">Our Location</a></li>
			<li><a href="#contact">Contact Us</a></li>
		</ul>
	</div>
</div>
<footer data-role="footer" class="bar"></footer>


