<link rel="stylesheet" type="text/css" href="./css/showing.css"/>
<div data-role="header" class="bar">Now Showing</div>
<div data-role="content" class="style">
	<div>
		<ul data-role="listview">
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br />Director: Ridley Scott<br />124 min (15)</a></li>
		</ul>
	</div>
</div>
<div data-role="footer" class="bar"></div>